<div class="chat-main displayFlex">
  <div class="leftSection">
    <div *ngIf="favorites.length == 0" class="favoriteSection">
      <div class="displayFlex">
        <i class="cursorPointer" [inlineSVG]="'assets/icons/team.svg'"></i>
        <span style="width: 170px; margin-top: 4px;">Favorites</span>
        <i class="cursorPointer" [ngClass]="{'transform': !showFavoriteSection}" (click)="showFavoriteSection = !showFavoriteSection" [inlineSVG]="'assets/icons/down.svg'"></i>
      </div>
    </div>
    <div *ngIf="showFavoriteSection" class="favoriteSubSection">
      Avinash
    </div>
    <div class="teamsSection" [ngClass]="{'applyBorderTop' : showFavoriteSection}">
      <div class="displayFlex">
        <i class="cursorPointer mt-3 mr-4 ml-4" [inlineSVG]="'assets/icons/direct_message.svg'"></i>
        <span style="width: 170px; margin-top: 4px;">Teams</span>
        <i class="cursorPointer" [ngClass]="{'transform': !showTeamsSection}" (click)="showTeamsSection = !showTeamsSection" [inlineSVG]="'assets/icons/down.svg'"></i>
      </div>
    </div>
    <div *ngIf="showTeamsSection" class="teamsSubSection">
      Avinash
    </div>
    <div class="addTeam">
      <div class="displayFlex">
        <span style="width: 195px; margin-top: 4px;">Create Team</span>
        <i class="cursorPointer mt-5" [inlineSVG]="'assets/icons/plus.svg'"></i>
      </div>
    </div>
  </div>
  <div class="rightSection ml-10 displayBlock" [ngClass]="{'rightSectionWidthCollapsed': appService.collapsed, 'rightSectionWidthExpanded': appService.expanded}">
    <div class="projectHeaderSection">
      <div class="displayFlex">
        <img class="mr-10" style="height: 40px; width: 40px;" [src]="'assets/icons/user_she.svg'" alt="">
        <div class="ml-5 displayGrid">
          <span class="mr-11" style="font-size: 24px">Avinash</span>
          <div class="displayFlex">
            <span class="view cursorPointer" [ngClass]="{'selected': selectedSection === 1}" (click)="selectedSection = 1;openTaskPanel = false" >Overview</span>
            <span class="view cursorPointer" [ngClass]="{'selected': selectedSection === 4}" (click)="selectedSection = 4">Dashboard</span>
            <span class="view cursorPointer" [ngClass]="{'selected': selectedSection === 2}" (click)="selectedSection = 2">List</span>
            <span class="view cursorPointer" [ngClass]="{'selected': selectedSection === 3}" (click)="selectedSection = 3">Board</span>
            <!-- <span (click)="openModal('custom-modal-1')">Open</span> -->
          </div>
        </div>
      </div>
      <div class="floatRight mt--44">
        <div class="displayFlex activeUserHeaderWrapper">
          <div *ngFor="let item of arr" class="positionZIndex">
            <!--<div class="activeUserHeaderImageWrapper">
              <img width="23" height="23" [src]="'assets/icons/team.svg'">
            </div>-->
            <div class="activeUserHeaderTextWrapper" [ngClass]="appService.returnNameClassBgColor(item.toLocaleLowerCase())"> {{item}} </div>
          </div>
          <div class="ml-10">
            <img [appDropdownTrigger]="dropdown" [src]="'assets/icons/more.svg'">
            <app-dropdown #dropdown>
              <div class="dropdown-item">Cut</div>
              <div class="dropdown-item">Copy</div>
              <div class="dropdown-item">Paste</div>
            </app-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div class="projectContent" [ngClass]="{'overflowAuto' : selectedSection == 1}">
      <div *ngIf="selectedSection === 1" class="overviewSection displayGrid">
        <div class="mb-10">
          <div class="description">
            <span class="common_text" style="color: black;">Description</span>
          </div>
          <div class="overviewContent mt-10">
            <div class="overviewDetails">
              <div class="overviewDetailsHeader">
                <strong class="oText">Details</strong>
                <div class="oOthers">
                  <img [ngClass]="{'overviewDetailsTransform' : overviewDetaislExpandClose}" width="25px" height="25px" (click)="overviewDetaislExpandClose = !overviewDetaislExpandClose" [src]="'assets/icons/down.svg'">
                </div>
              </div>
              <div *ngIf="overviewDetaislExpandClose" class="overviewDetailsContent">
                <div class="overviewDetailsContentRowLabels">
                  <div class="overviewDetailsContentRow">
                    <div class="overviewDetailsContentRowLeft">
                      <span class="common_text">Assignee</span>
                    </div>
                    <div class="overviewDetailsContentROwRight">
                      <div class="rigthRow">
                        <div class="content">
                          <span>None</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="overviewDetailsContentRowLabels">
                  <div class="overviewDetailsContentRow">
                    <div class="overviewDetailsContentRowLeft">
                      <span class="common_text">Assignee</span>
                    </div>
                    <div class="overviewDetailsContentROwRight">
                      <div class="rigthRow">
                        <div class="content">
                          <span>None</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="overviewDetailsContentRowLabels">
                  <div class="overviewDetailsContentRow">
                    <div class="overviewDetailsContentRowLeft">
                      <span class="common_text">Assignee</span>
                    </div>
                    <div class="overviewDetailsContentROwRight">
                      <div class="rigthRow">
                        <div class="content">
                          <span>None</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="overviewDetailsContentRowLabels">
                  <div class="overviewDetailsContentRow">
                    <div class="overviewDetailsContentRowLeft">
                      <span class="common_text">Assignee</span>
                    </div>
                    <div class="overviewDetailsContentROwRight">
                      <div class="rigthRow">
                        <div class="content">
                          <span>None</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="overviewDetailsContentRowLabels">
                  <div class="overviewDetailsContentRow">
                    <div class="overviewDetailsContentRowLeft">
                      <span class="common_text">Assignee</span>
                    </div>
                    <div class="overviewDetailsContentROwRight">
                      <div class="rigthRow">
                        <div class="content">
                          <span>None</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="overviewDetailsContentRowLabels">
                  <div class="overviewDetailsContentRow">
                    <div class="overviewDetailsContentRowLeft">
                      <span class="common_text">Assignee</span>
                    </div>
                    <div class="overviewDetailsContentROwRight">
                      <div class="rigthRow">
                        <div class="content">
                          <span>None</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="overviewDetailsContentRowLabels">
                  <div class="overviewDetailsContentRow">
                    <div class="overviewDetailsContentRowLeft">
                      <span class="common_text">Assignee</span>
                    </div>
                    <div class="overviewDetailsContentROwRight">
                      <div class="rigthRow">
                        <div class="content">
                          <span>None</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="overviewDetailsContentRowLabels">
                  <div class="overviewDetailsContentRow">
                    <div class="overviewDetailsContentRowLeft">
                      <span class="common_text">Assignee</span>
                    </div>
                    <div class="overviewDetailsContentROwRight">
                      <div class="rigthRow">
                        <div class="content">
                          <span>None</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="overviewDetailsContentRowLabels">
                  <div class="overviewDetailsContentRow">
                    <div class="overviewDetailsContentRowLeft">
                      <span class="common_text">Assignee</span>
                    </div>
                    <div class="overviewDetailsContentROwRight">
                      <div class="rigthRow">
                        <div class="content">
                          <span>None</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="members">
          <div class="description">
            <span class="common_text" style="color: black;">Members</span>
          </div>
          <div class="gridView">
            <div>
              <div class="cursorHand membersBox">
                <div class="addedMember">
                  
                </div>
                <h1 class="addedMemberTitle">Avinash</h1>
              </div>
            </div>
            <div>
              <div class="cursorHand membersBox">
                <div class="addedMember">
                  
                </div>
                <h1 class="addedMemberTitle">Avinash</h1>
              </div>
            </div>
            <div>
              <div class="cursorHand membersBox">
                <div class="addedMember">
                  
                </div>
                <h1 class="addedMemberTitle">Avinash</h1>
              </div>
            </div>
            <div>
              <div class="cursorHand membersBox">
                <div class="addedMember">
                  
                </div>
                <h1 class="addedMemberTitle">Avinash</h1>
              </div>
            </div>
            <div>
              <div class="cursorHand membersBox">
                <div class="addedMember">
                  
                </div>
                <h1 class="addedMemberTitle">Avinash</h1>
              </div>
            </div>
            <div>
              <div class="cursorHand membersBox">
                <div class="addedMember">
                  
                </div>
                <h1 class="addedMemberTitle">Avinash</h1>
              </div>
            </div>
            <div>
              <div class="cursorHand membersBox">
                <div class="addedMember">
                  
                </div>
                <h1 class="addedMemberTitle">Avinash</h1>
              </div>
            </div>
            <div>
              <div class="cursorHand membersBox">
                <div class="addedMember">
                  
                </div>
                <h1 class="addedMemberTitle">Avinash</h1>
              </div>
            </div>
            
            <div>
              <div class="cursorHand membersBox">
                <div class="addedNewMember">
                  <img style="margin: -5px;" width="25px" height="25px" [src]="'assets/icons/plus_simple.svg'" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="files">
          <div class="description">
            <span class="common_text" style="color: black;">Files</span>
          </div>
        </div>
      </div>
      <div *ngIf="selectedSection === 2" class="listView">
        <div class="listOperations mb-5">
          <div>
            <span class="common_text" [appTag]="'Avinash'">Avinash</span>
          </div>
          <div class="right">
            <div class="util displayFlex cursorHand" [appDropdownTrigger]="dropdown1">
              <img style="width: 23px;height: 17px;" [src]="'assets/icons/sort.svg'">
              <span style="color: #6f7782;font-size: 14px;" class="mr-18 common_text">Sort By</span>
            </div>
            <app-dropdown #dropdown1>
              <div class="dropdown-item">Option1</div>
              <div class="dropdown-item">Option2</div>
              <div class="dropdown-item">Option3</div>
            </app-dropdown>
            <div class="util displayFlex cursorHand" [appDropdownTrigger]="dropdown2">
              <img style="width: 22px;height: 17px;"  [src]="'assets/icons/filter.svg'">
              <span style="color: #6f7782;font-size: 14px;" class="mr-5 ml-2 common_text">Filter</span>
            </div>
            <app-dropdown #dropdown2>
              <div class="dropdown-item">Option1</div>
              <div class="dropdown-item">Option2</div>
              <div class="dropdown-item">Option3</div>
            </app-dropdown>
          </div>
        </div>
        <div class="lData">
          <div class="test1">
            <div class="listHeaderSection">
              <div class="listHeaders" [style.width]="'40px'"><span class="common_text">S.no</span></div>
              <div class="listHeaders" [style.width]="'300px'"><span class="common_text">Description</span></div>
              <div class="listHeaders" [style.width]="'90px'"><span class="common_text">Assignee</span></div>
              <div class="listHeaders" [style.width]="'80px'"><span class="common_text">Due date</span></div>
              <div class="listHeaders" [style.width]="'60px'"><span class="common_text">Status</span></div>
              <div class="listHeaders" [style.width]="'40px'"><span class="common_text">S.no</span></div>
              <div class="listHeaders" [style.width]="'300px'"><span class="common_text">Description</span></div>
              <div class="listHeaders" [style.width]="'90px'"><span class="common_text">Assignee</span></div>
              <div class="listHeaders" [style.width]="'80px'"><span class="common_text">Due date</span></div>
              <div class="listHeaders" [style.width]="'60px'"><span class="common_text">Status</span></div>
            </div>
            <div *ngFor="let data of arr">
              <div class="listBody" >
                <div style="margin-bottom: 5px">
                  <span>Project 1</span>
                </div>
                <div *ngFor="let data of arr">
                  <div class="data cursorHand" (click)="openTaskPanel = true">
                    <div class="listHeaders" [style.width]="'40px'"><span class="common_text">S.no</span></div>
                    <div class="listHeaders" [style.width]="'300px'"><span class="common_text">Description</span></div>
                    <div class="listHeaders" [style.width]="'90px'"><span class="common_text">Assignee</span></div>
                    <div class="listHeaders" [style.width]="'80px'"><span class="common_text">Due date</span></div>
                    <div class="listHeaders" [style.width]="'60px'"><span class="common_text">Status</span></div>
                    <div class="listHeaders" [style.width]="'40px'"><span class="common_text">S.no</span></div>
                    <div class="listHeaders" [style.width]="'300px'"><span class="common_text">Description</span></div>
                    <div class="listHeaders" [style.width]="'90px'"><span class="common_text">Assignee</span></div>
                    <div class="listHeaders" [style.width]="'80px'"><span class="common_text">Due date</span></div>
                    <div class="listHeaders" [style.width]="'60px'"><span class="common_text">Status</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedSection === 3" >
        <div class="listOperations mb-5">
          <div>
            <span class="common_text" [appTag]="'Avinash'">Avinash</span>
          </div>
          <div class="right">
            <div class="util displayFlex cursorHand" [appDropdownTrigger]="dropdown1">
              <img style="width: 23px;height: 17px;" [src]="'assets/icons/sort.svg'">
              <span style="color: #6f7782;font-size: 14px;" class="mr-18 common_text">Sort By</span>
            </div>
            <app-dropdown #dropdown1>
              <div class="dropdown-item">Option1</div>
              <div class="dropdown-item">Option2</div>
              <div class="dropdown-item">Option3</div>
            </app-dropdown>
            <div class="util displayFlex cursorHand" [appDropdownTrigger]="dropdown2">
              <img style="width: 22px;height: 17px;"  [src]="'assets/icons/filter.svg'">
              <span style="color: #6f7782;font-size: 14px;" class="mr-5 ml-2 common_text">Filter</span>
            </div>
            <app-dropdown #dropdown2>
              <div class="dropdown-item">Option1</div>
              <div class="dropdown-item">Option2</div>
              <div class="dropdown-item">Option3</div>
            </app-dropdown>
          </div>
        </div>
        <div class="card positionRelative displayFlex">
          <div class="segmentView">
            <div class="displayGrid ml-10">
            <span class="mb-10 common_text">
              Avinash
            </span>
              <div class="test">
                <div class="cardStack">
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="segmentView">
            <div class="displayGrid ml-10">
            <span class="mb-10 common_text">
              Avinash
            </span>
              <div class="test">
                <div class="cardStack">
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="segmentView">
            <div class="displayGrid ml-10">
            <span class="mb-10 common_text">
              Avinash
            </span>
              <div class="test">
                <div class="cardStack">
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                  <div class="stack" (click)="openTaskPanel = true">
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedSection === 4" class="overviewSection displayGrid">
        <div class="mb-10">
          <!-- <div class="description">
            <span class="common_text" style="color: black;">Description</span>
          </div> -->
          <div class="overviewContent mt-10">
            <div class="overviewDetails">
              <div class="overviewDetailsHeader">
                <strong class="oText">Your tasks</strong>
                <div class="oOthers">
                  <img [ngClass]="{'overviewDetailsTransform' : overviewDetaislExpandClose}" width="25px" height="25px" (click)="overviewDetaislExpandClose = !overviewDetaislExpandClose" [src]="'assets/icons/down.svg'">
                </div>
              </div>
              <div *ngIf="overviewDetaislExpandClose" class="overviewDetailsContent yourTasks">
                <div *ngIf="noOfTasks.length == 0" style="text-align: center;">
                  <span class="common_text">No Tasks for you today</span>
                </div>
                <div *ngFor="let t of noOfTasks">
                  <div class="mb-10">
                    <div class="task cursorHand">
                      <div class="displayFLex mt-5" style="width: inherit;">
                        <div style="display: inline-flex; width: 5%;"><div class="priority bgColor_a " style="width: 10px; height: 10px;"></div></div>
                        <!-- <img style="width: 10px; height: 10px;" [src]="'assets/icons/icon.svg'"/> -->
                        <div style="display: inline-flex; width: 15%;"><span class="common_text">12345</span></div>
                        <div style="display: inline-flex; width: 50%;"><span class="common_text">Task 1 </span></div>
                        <div style="display: inline-flex; width: 15%;"><span class="common_text">Due date</span></div>
                        <div style="display: inline-flex; width: 15%;"><span class="common_text">Reporter</span></div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="members" style="padding: 5px;">
          <div class="description">
            <span class="common_text" style="color: black;">Activity</span>
          </div>
          <div class="dashboardActivity">
            <div class="dashboardActivityData displayFlex">
              <div class="dashboardActivityContent mr-6 mt-5">
                <img [src]="'https://alorecdn.blob.core.windows.net/imagefrommediaupload/1552196674082img_avatar.png'"/>
              </div>
              <div class="dashboardActivityDescription displayBlock hoverBlue">
                <div class="userName mb-5 hoverblue">
                  <span class="mainDarkBlack">Avinash ghchgchgx hgxhgxhgxhgxhgx hgxhxhgxh gxjghgxhgxhgx hxhgxhgxgxh gxhgxhgx hgxhgx</span>
                </div>
              </div>
            </div>
            <div class="dashboardActivityData displayFlex">
              <div class="dashboardActivityContent mr-6 mt-5">
                <img [src]="'https://alorecdn.blob.core.windows.net/imagefrommediaupload/1552196674082img_avatar.png'"/>
              </div>
              <div class="dashboardActivityDescription displayBlock hoverBlue">
                <div class="userName mb-5 hoverblue">
                  <span class="mainDarkBlack">Avinash ghchgchgx hgxhgxhgxhgxhgx hgxhxhgxh gxjghgxhgxhgx hxhgxhgxgxh gxhgxhgx hgxhgx</span>
                </div>
              </div>
            </div>
            <div class="dashboardActivityData displayFlex">
              <div class="dashboardActivityContent mr-6 mt-5">
                <img [src]="'https://alorecdn.blob.core.windows.net/imagefrommediaupload/1552196674082img_avatar.png'"/>
              </div>
              <div class="dashboardActivityDescription displayBlock hoverBlue">
                <div class="userName mb-5 hoverblue">
                  <span class="mainDarkBlack">Avinash ghchgchgx hgxhgxhgxhgxhgx hgxhxhgxh gxjghgxhgxhgx hxhgxhgxgxh gxhgxhgx hgxhgx</span>
                </div>
              </div>
            </div>
            <div class="dashboardActivityData displayFlex">
              <div class="dashboardActivityContent mr-6 mt-5">
                <img [src]="'https://alorecdn.blob.core.windows.net/imagefrommediaupload/1552196674082img_avatar.png'"/>
              </div>
              <div class="dashboardActivityDescription displayBlock hoverBlue">
                <div class="userName mb-5 hoverblue">
                  <span class="mainDarkBlack">Avinash ghchgchgx hgxhgxhgxhgxhgx hgxhxhgxh gxjghgxhgxhgx hxhgxhgxgxh gxhgxhgx hgxhgx Avinash ghchgchgx hgxhgxhgxhgxhgx hgxhxhgxh gxjghgxhgxhgx hxhgxhgxgxh gxhgxhgx hgxhgx</span>
                </div>
              </div>
            </div>
            <div class="dashboardActivityData displayFlex">
              <div class="dashboardActivityContent mr-6 mt-5">
                <img [src]="'https://alorecdn.blob.core.windows.net/imagefrommediaupload/1552196674082img_avatar.png'"/>
              </div>
              <div class="dashboardActivityDescription displayBlock hoverBlue">
                <div class="userName mb-5 hoverblue">
                  <span class="mainDarkBlack">Avinash ghchgchgx hgxhgxhgxhgxhgx hgxhxhgxh gxjghgxhgxhgx hxhgxhgxgxh gxhgxhgx hgxhgx</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-task-panel (appClickOutside)="openTaskPanel = false" [isLeftOpen]="openTaskPanel" (close)="openTaskPanel = false"></app-task-panel>
    </div>
  </div>
</div>
<app-modal id="custom-modal-1">
  <h1>A Custom Modal!</h1>
  <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>
  <button (click)="closeModal('custom-modal-1');">Close</button>
</app-modal>
