.leftSection {
  width: 232px;
  margin-top: 3px;
  margin-left: 8px;
  background: #FFFFFF;
  height: calc(100vh - 64px);
  border: 1px solid rgba(24,24,24,.2);
  box-sizing: border-box;
  border-radius: 3px;
}

.rightSection {
  height: calc(100vh - 64px);
  margin-top: 3px;
  background: #FFFFFF;
  border-left: 1px solid rgba(24,24,24,.2);
  /*box-sizing: border-box;*/
  /*border-radius: 3px;*/
}

.rightSectionWidthCollapsed {
  width: calc(100vw - 306px);
}
.rightSectionWidthExpanded {
  width: calc(100vw - 512px);
}

.chat-main .rightSection .chatFooterSection input {
  border-radius: 6px;
  border: 0.5px solid #CCCCCC;
  width: -webkit-fill-available;
}

.favoriteSection {
  /*height: auto;*/
  padding: 10px 10px 0px 10px;
  /*max-height: 300px;*/
  border-bottom: 1px solid rgba(24,24,24,.2);
}

.favoriteSubSection {
  height: auto;
  padding: 10px 10px 0px 10px;
  max-height: 300px;
  min-height: 100px;
}

.teamsSection {
  /*height: auto;*/
  /*max-height: 300px;*/
  overflow: auto;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid rgba(24,24,24,.2);
}

.teamsSubSection {
  height: auto;
  padding: 10px 10px 0px 10px;
  max-height: 300px;
  min-height: 100px;
}

.applyBorderTop {
  border-top: 1px solid rgba(24,24,24,.2);
}

.transform {
  transform: rotate(90deg);
}
.addTeam {
  position: absolute;
  bottom: -2px;
  width: 211px;
  padding: 6px 10px 10px 10px;
  border-top: 1px solid rgba(24,24,24,.2);
}

.projectHeaderSection {
  height: 40px;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid rgba(24,24,24,.2);
}

.view {
  font-weight: 500;
  font-size: 14px;
  margin-right: 23px;
  color: #6f7782;
  padding-bottom: 5px;
}

.selected {
  box-shadow: inset 0 -2px blue;
  color: blue;
}

.projectContent {
  /* padding: 10px; */
  margin: 10px;
  height: calc(100vh - 145px);
}

.projectContent .overviewSection .members .gridView{
  display: flex;
  flex-wrap: wrap;
  max-height: 255px;
  overflow: auto;
}

.projectContent .overviewSection .overviewContent{
  -webkit-box-flex: 1;
  flex-grow: 1;
  overflow: hidden auto;
  padding: 6px;
}

.overviewDetails {
  box-sizing: border-box;
  margin-bottom: 8px;
}

.projectContent .overviewSection .overviewContent .overviewDetails .yourTasks {
  min-height: 100px;
  max-height: 240px;
  overflow: auto;
}

.projectContent .overviewSection .overviewContent .overviewDetails .yourTasks .task {
  border: 1px solid #cccccc;
  height: 27px;
  border-radius: 3px;
}

.projectContent .overviewSection .overviewContent .overviewDetails .yourTasks .task .priority{
  width: 10px;
  height: 10px;
  display: inline-flex;
  border-radius: 40%;
  background: darkblue;
  margin-left: 5px;
  margin-right: 5px;
}


.projectContent .overviewSection .members .dashboardActivity {
  width: 98%;
  min-height: 50px;
  border-radius: 2px;
  margin: 10px 1px 0 0px;
  padding: 5px;
  cursor: pointer;
}

.projectContent .overviewSection .members .dashboardActivity .dashboardActivityData .dashboardActivityContent img{
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.projectContent .overviewSection .members .dashboardActivity .dashboardActivityData .dashboardActivityDescription .userName span{
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  font-size: 11px;
  white-space: normal;
  line-height: 14px;
  font-weight: 600;
  color: #6f7782;
}

.overviewDetailsHeader {
  position: relative;
  display: flex;
  padding:7px;
  height: 17px;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid rgb(223, 225, 230);
  -webkit-box-align: center;
  align-items: center;
}

.overviewDetailsHeader .oText {
  color: rgb(23, 43, 77);
  font-size: 14px;
  padding-right: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60%;
  font-weight: 600;
  flex-shrink: 0;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}

.overviewDetailsHeader .oOthers {
  margin-left: auto;
  display: flex;
}

.overviewDetailsHeader .oOthers img {
  min-width: 24px;
  margin-bottom: -3px;
}

.overviewDetailsTransform {
  transform: rotate(180deg);
  transition: 0.3s linear all;
}

.overviewDetailsContent {
  padding: 8px 7px;
  box-sizing: border-box;
  border-width: 0px 1px 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: rgb(223, 225, 230);
  border-bottom-color: rgb(223, 225, 230);
  border-left-color: rgb(223, 225, 230);
  border-image: initial;
  border-top-style: initial;
  border-top-color: initial;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.overviewDetailsContentRow {
  flex-wrap: wrap;
  word-break: break-word;
  display: flex;
}

.overviewDetailsContentRowLeft {
  position: relative;
  -webkit-box-flex: 1;
  flex-grow: 1;
  box-sizing: border-box;
  padding-right: 24px;
  min-width: 120px;
  width: 40%;
  padding-top: 8px;
  max-width: 170px;
  line-height: 1;
}

.overviewDetailsContentROwRight {
  -webkit-box-flex: 1;
  flex-grow: 1;
  width: 60%;
  box-sizing: border-box;
}

.rightRow {
  flex-direction: column;
  margin-left: -8px;
  width: 100%;
  display: flex;
  flex: 0 1 auto;
  max-width: 100%;
}

.content {
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  border-radius: 3px;
  border-style: solid;
  box-sizing: border-box;
  color: rgb(9, 30, 66);
  display: flex;
  flex: 1 0 auto;
  font-size: 14px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  line-height: 1.42857;
  max-width: 100%;
  overflow: hidden;
  transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
  overflow-wrap: break-word;
  border-width: 2px;
  padding: 6px;
}

.overviewDetailsContentRowLabels {
  display: inherit;
  flex-direction: inherit;
  -webkit-box-align: inherit;
  align-items: inherit;
  -webkit-box-pack: inherit;
  justify-content: inherit;
}

.overflowAuto {
  overflow: auto;
}

.projectContent .overviewSection .members .gridView .membersBox{
  width: 80px;
  height: 80px;
  margin-left: 4px;
  margin-top: 12px;
  margin-right: 10px;
  margin-bottom: 35px;
  position: relative;
}

.projectContent .overviewSection .members .gridView .membersBox .addedMember {
  width: 80px;
  height: 80px;
  background: #fff;
  border: 2px solid #cccccc;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectContent .overviewSection .members .gridView .membersBox .addedNewMember {
  width: 80px;
  height: 80px;
  background: #fff;
  border: 2px solid #cccccc;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 30px 27px 25px 30px;
}

.projectContent .overviewSection .members .gridView .membersBox .addedMemberTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  letter-spacing: -.5px;
  text-align: center;
  line-height: 14px;
  font-size: 14px;
  font-family: SFUIText-Semibold;
}


.segment {

}

.card {
  overflow-y: auto;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  /*padding: 13px 5px 13px 10px;*/
  margin-top: 10px;
}

.cardText {
  padding-bottom: 3px;
  padding-left: 11px;
}

.seg {
  overflow: auto;
}

.listView {
  overflow: auto;
  background: transparent;
  /*border: 1px solid transparent;*/
  /*border-radius: 2px;*/
  /*padding: 13px 5px 13px 10px;*/
  /*margin-top: 10px;*/
}

.listOperations {
  hieght: 30px;
  display: flex;
  position: relative;
}

.listOperations .right {
  float: right;
  height: 100%;
  display: flex;
  position: absolute;
  right: 0;
  text-align: right;
}

.lData {
  overflow: auto;
  width: -moz-fit-content;
  width: auto;
  height: calc(100vh - 162px);
}

.test1 {
  margin-top: 8px;
  width: fit-content;
}

.listData {
  height: auto;
  border: 1px solid #CCCCCC;
  display: grid;
  border-radius: 2px;
}

.util:hover {
  background: rgba(51, 75, 250, 0.2);
  color: #334BFA !important;
  border: none;
  border-radius: 5px;
}

.cardStack {
  max-height: calc(100vh - 230px);
  overflow: auto;
  padding: 1px 6px 0 1px;
}

.segmentView {

  padding: 5px;

  border: 1px solid rgba(24,24,24,.2);
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 10px;
}

.test {
  /* overflow: auto; */
  height: calc(100vh - 226px);
}

.stack {
  width: 265px;
  margin-bottom: 10px;
  height: auto;
  cursor: hand;
  cursor: pointer;
  min-height: 100px;
  border: 1px solid rgba(24,24,24,.2);
  box-sizing: border-box;
  border-radius: 3px;
}

.stack:hover {
  background: #f9f9f9;
  border-left: 5px solid blue;
  border-radius: 4px;
}


.overview {
  height: calc(100vh - 182px);
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 13px 5px 13px 10px;
  margin-top: 10px;
  overflow: auto;
}

.projectContent .description {
  border-bottom: 1px solid #CCCCCC;
}

.activeUserHeaderWrapper .activeUserHeaderImageWrapper {
  margin: 0px -5px 0px 0px;
  z-index: 1;
  position: relative;
}

.activeUserHeaderWrapper .activeUserHeaderImageWrapper img {
  border-radius: 100%;
  width: 23px;
  height: 23px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  opacity: 1;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 2px 4px;
}

.activeUserHeaderWrapper .positionZIndex {
  margin: 0px -4px 0px 0px;
  position: relative;
}

.activeUserHeaderWrapper .positionZIndex:first-child {
  z-index: 5;
}

.activeUserHeaderWrapper .positionZIndex:nth-child(2) {
  z-index: 4;
}

.activeUserHeaderWrapper .positionZIndex:nth-child(3) {
  z-index: 3;
}

.activeUserHeaderWrapper .positionZIndex:nth-child(4) {
  z-index: 2;
}

.activeUserHeaderWrapper .positionZIndex:nth-child(5) {
  z-index: 1;
}

.activeUserHeaderWrapper .activeUserHeaderTextWrapper {
  width: 23px;
  height: 23px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  font-family: Inter-Medium;
  align-items: center;
  color: #FFFFFF;
  font-size: 11px;
  line-height: initial;
  max-width: 100%;
  max-height: 100%;
  user-select: none;
  opacity: 1;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 2px 4px;
  z-index: -1;
  position: relative;
}

.container {
  margin: 5px;
  width: 350px;
  height: 100px;
  border: 2px solid #341C09;
  white-space: nowrap;
}

.item {
  border: 2px solid #B85B14;
  background-color: #FC7307;
  width: 120px;
}
.flex {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}
.flex-item {
  flex: 0 0 auto;
}

.listHeaderSection {
  text-align: left;
  display: flex;
  border-top: 1px solid #CCCCCB;
  border-bottom: 1px solid #cccc;
}

.listHeaders {
  height: 30px;
  border-right: 1px solid #cccccc;
}

.listHeaderSection .listHeaders span {
  vertical-align: -webkit-baseline-middle;
  padding: 5px;
  color: #6f7782;
}

.data {
  display: flex;
  /*margin-top: 5px;*/
  border-top: 1px solid #cccccc;
  /*border-bottom: 1px solid #cccccc;*/
}

.listBody {
  margin-top: 18px;
}

.listBody .data:hover {
  background: 	#CCCCFF;
  border-left: 5px solid blue;
  border-radius: 4px;
}

.listBody .data .listHeaders span {
  vertical-align: -webkit-baseline-middle;
  padding: 5px;
  color: #6f7782;
}

