.navBar {
  height: 46px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: -4px 0 15px #ccc;
  transition: all 0.5s ease 0s;
  align-items: center;
  background-color: #fff;
  z-index: 670;
  border-bottom: 1px solid #ccc;
}

content {
  position: relative;
  margin-top: 5px;
}

.icon {
  margin: 12px 9px 7px 10px
}

.navBar .content .rightDiv span {
  margin-left: 5px;
  margin-right: 5px;
}
