<div class="navBar">
  <div class="content">
    <!--<div class="icon cursorHand" (click)="expandOrCollapse()">
      <i [inlineSVG]="'assets/icons/showNavigationMenu.svg'"></i>
    </div>-->
    <div class="icon cursorHand">
      <i [inlineSVG]="'assets/icons/showNavigationMenu.svg'"></i>
    </div>
    <div class="rightDiv displayFlex ml-38 mt--32">
      <span>ALLINO</span>
    </div>
    <div class="mt--22 mr-13 floatRight">
      <i class="cursorPointer" [inlineSVG]="'assets/icons/user_she.svg'"></i>
    </div>
    <div class="mt--23 mr-15 floatRight">
      <i class="cursorPointer" [inlineSVG]="'assets/icons/new_notification.svg'"></i>
    </div>
  </div>
</div>
