<div [ngClass]="{'jw-modal': openModal, 'jw-modal-hide': !openModal}">
  <div class="jw-modal-body">
    <ng-content></ng-content>
  </div>
</div>
<div *ngIf="openModal" class="jw-modal-background"></div>
