/* MODAL STYLES
-------------------------------*/
.jw-modal-hide{
  /* modals are hidden by default */
  display: none;

}

.jw-modal {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 1000;
  overflow: auto;
}

.jw-modal .jw-modal-body {
  padding: 20px;
  border-radius: 3px;
  background: #cccccc;
  margin: 40px;
  width: fit-content;
}

.jw-modal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* semi-transparent black  */
  /*background-color: #000;*/
  opacity: 0.75;

  /* z-index must be below .jw-modal and above everything else  */
  z-index: 900;
}

body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}
