.slideMenu {
  height: calc(100% - 126px);
  position: absolute;
  top: 114px;
  z-index: 100;
  background-color: #fff;
  /* overflow-x: hidden; */
  box-shadow: 0 0 0 1px #e8ecee, 0 5px 20px 0 rgb(21 7 38 / 8%);
}

.closed {
  width:0;
  left: -80%;
  transition: 0.3s linear all;
}

.open {
  width: 45%;
  right: 0;
  transition: 0.3s linear all;
}

.slideMenu .slideMenuHeader {
  /* background: rgba(108,92,124,0.7) url(http://www.transparenttextures.com/patterns/diagmonds.png) repeat; */
  height: 43px;
  margin: 0;
  /* padding: 20px 10px; */
  position: relative;
  border-bottom: 1px solid #cccccc;
}

.slideMenu .slideMenuHeader .userInfo {
  float: left;
  width: 80%;
  display: inline-block;
}

.slideMenu .slideMenuHeader .userInfo p {
  margin: 0.5em 0;
  color: #fff;
}

.slideMenu .slideMenuHeader .userInfo input {
  font-family: Inter;
    font-size: 18px;
    width: 93%;
    height: 18px;
    color: #181818;
    background: #FFFFFF;
    border: none;
    padding: 10px 10px 4px 10px;
}

.slideMenu .slideMenuHeader .userInfo input:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.slideMenu .right {
  float: right;
  /* width: 25%; */
  min-width: 37px;
  height: 100%;
  /* display: flex; */
  position: absolute;
  right: 0;
  text-align: right;
}

.slideMenu .right span{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
}

.slideMenu .right img:hover{
  background: rgba(9, 30, 66, 0.04);
  border-radius: 10%;
}

.slideMenu .right .userImage{
  background-color: #D682F5;
  position: absolute;
  top: 10px;
  right: 10px;
}

.slideMenu .right .userSettings{
  background-color: grey;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.slideMenu .slideMenuContent{
  /* border-bottom: 1px solid #cccccc;
  height: calc(100vh - 333px); */
  overflow: auto;
  height: calc(100% - 54px);
}


.slideMenu .slideMenuContent .taskContent {
  -webkit-box-flex: 1;
  flex-grow: 1;
  overflow: hidden auto;
  padding: 6px;
}

.taskDetails {
  box-sizing: border-box;
  margin-bottom: 8px;
}

.taskDetailsHeader {
  position: relative;
  display: flex;
  padding:7px;
  height: 17px;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid rgb(223, 225, 230);
  -webkit-box-align: center;
  align-items: center;
}

.taskUtils {
  margin-bottom: 4px;
  padding: 4px 0px;
  display: inline-flex;
}

.slideMenu .slideMenuContent .taskUtils .taskUtilsBox {
  display: flex;
  margin: 5px 4px -2px 10px;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #d4d2d207;
  background: rgba(9, 30, 66, 0.04);
  padding: 3px;
}

.slideMenu .slideMenuContent .taskUtils .taskUtilsBox:hover {
  border: 1px solid #cccccc;
}


.slideMenu .slideMenuContent .taskActivity {
  margin-bottom: 4px;
  padding: 1px 7px 0px 9px;
  display: grid;
}

.slideMenu .slideMenuContent .taskActivity .taskActivityOptions {
  margin-bottom: 4px;
  padding: 4px 0px;
  display: inline-flex;
  margin-left: -11px;
}

.slideMenu .slideMenuContent .taskActivity .taskActivityOptions .box {
  display: flex;
  margin: 5px 4px -2px 10px;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #d4d2d207;
  background: rgba(9, 30, 66, 0.04);
  padding: 3px;
}

.slideMenu .slideMenuContent .taskActivity .taskActivityOptions .box:hover {
  border: 1px solid #cccccc;
}

.slideMenu .slideMenuContent .taskActivity .taskActivitySection {
  width: 98%;
  min-height: 50px;
  border-radius: 2px;
  margin: 10px 1px 0 0px;
  padding: 5px;
  cursor: pointer;
}

.taskDetailsTransform {
  transform: rotate(180deg);
  transition: 0.3s linear all;
}

.slideMenu .slideMenuContent .taskActivity .taskActivitySection .taskActivitySectionData .taskActivityContent img {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.slideMenu .slideMenuContent .taskActivity .taskActivitySection .taskActivitySectionData .taskActivityDescription .userName span {
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  font-size: 11px;
  white-space: normal;
  line-height: 14px;
  font-weight: 600;
  color: #6f7782;
}

.taskDetailsHeader .tText {
  color: rgb(23, 43, 77);
  font-size: 14px;
  padding-right: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60%;
  font-weight: 600;
  flex-shrink: 0;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}

.taskDetailsHeader .tOthers {
  margin-left: auto;
  display: flex;
}

.taskDetailsHeader .tOthers img {
  min-width: 24px;
  margin-bottom: -3px;
}

.taskDetailsContent {
  padding: 8px 12px;
  box-sizing: border-box;
  border-width: 0px 1px 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: rgb(223, 225, 230);
  border-bottom-color: rgb(223, 225, 230);
  border-left-color: rgb(223, 225, 230);
  border-image: initial;
  border-top-style: initial;
  border-top-color: initial;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.taskDetailsContentRow {
  flex-wrap: wrap;
  word-break: break-word;
  display: flex;
}

.taskDetailsContentRowLeft {
  position: relative;
  -webkit-box-flex: 1;
  flex-grow: 1;
  box-sizing: border-box;
  padding-right: 24px;
  min-width: 120px;
  width: 40%;
  padding-top: 8px;
  max-width: 170px;
  line-height: 1;
}

.taskDetailsText {
  box-sizing: border-box;
  font-size: 0.857143em;
  font-style: inherit;
  line-height: 1.33333;
  font-weight: 500;
  color: #6f7782;
  display: inline;
  letter-spacing: -0.01em;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}

.taskDetailsContentRowRightAssignee {
  -webkit-box-flex: 1;
  flex-grow: 1;
  width: 60%;
  box-sizing: border-box;
}

.taskDetailsContentROwRight {
  -webkit-box-flex: 1;
  flex-grow: 1;
  width: 60%;
  box-sizing: border-box;
}

.rightRow {
  flex-direction: column;
  margin-left: -8px;
  width: 100%;
  display: flex;
  flex: 0 1 auto;
  max-width: 100%;
}

.content {
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  border-radius: 3px;
  border-style: solid;
  box-sizing: border-box;
  color: rgb(9, 30, 66);
  display: flex;
  flex: 1 0 auto;
  font-size: 14px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  line-height: 1.42857;
  max-width: 100%;
  overflow: hidden;
  transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
  overflow-wrap: break-word;
  border-width: 2px;
  padding: 6px;
}

.taskDetailsContentRowLabels {
  display: inherit;
  flex-direction: inherit;
  -webkit-box-align: inherit;
  align-items: inherit;
  -webkit-box-pack: inherit;
  justify-content: inherit;
}


.slideMenu .sliderMenuFooter {
  /* position: absolute; */
  padding: 5px;
  bottom: 10px;
  right: 10px;
}

.menuSection {
  margin: 5px;
}

.headerText{
  font-size: 17px;
  margin-top: 5px;
  font-family: 'Inter-Medium';
}
