<div class="slideMenu" [ngClass]="{'open': isLeftOpen, 'closed': !isLeftOpen}">
  <div class="slideMenuHeader">
    <div style="margin: 5px;">
      <div class="userInfo">
        <input style="position: relative;margin-left: 0px;" class="overflowHidden textEllipsis whiteSpaceNoWrap positionAbsolute" type="text"
                     [(ngModel)]="documentName" >

      </div>
      <div class="right">
        <img class="cursorHand mr-5"  width="25px" height="25px" [src]="'assets/icons/more1.svg'"/>
        <img class="cursorHand mt-7 mr-5" style="width: 25px;height: 25px;" (click)="closePanel()" [src]="'assets/icons/right_close.svg'">
      </div>
    </div>
  </div>
  <div class="slideMenuContent">
    <div class="taskUtils">
      <div class="taskUtilsBox cursorHand">
        <img class=" mr-4" style="width: 16px; height: 16px;" [src]="'assets/icons/attachment.svg'">
        <span class="taskDetailsText">Attach</span>
      </div>
      <div class="taskUtilsBox cursorHand">
        <img class=" mr-4" style="width: 16px; height: 16px;" [src]="'assets/icons/plus.svg'">
        <span class="taskDetailsText">Add sub tasks</span>
      </div>
      <div class="taskUtilsBox cursorHand">
        <img class=" mr-4" style="width: 16px; height: 16px;" [src]="'assets/icons/attachment.svg'">
        <span class="taskDetailsText">Link issues</span>
      </div>
    </div>
    <div class="taskContent">
      <div class="taskDetails">
        <div class="taskDetailsHeader">
          <strong class="tText">Details</strong>
          <div class="tOthers">
            <img [ngClass]="{'taskDetailsTransform' : taskDetaislExpandClose}" width="25px" height="25px" (click)="taskDetaislExpandClose = !taskDetaislExpandClose" [src]="'assets/icons/down.svg'">
          </div>
        </div>
        <div *ngIf="taskDetaislExpandClose" class="taskDetailsContent">
          <div class="taskDetailsContentRowLabels">
            <div class="taskDetailsContentRow">
              <div class="taskDetailsContentRowLeft">
                <span class="taskDetailsText">Assignee</span>
              </div>
              <div class="taskDetailsContentROwRight">
                <div class="rigthRow">
                  <div class="content">
                    <span>None</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="taskDetailsContentRow">
              <div class="taskDetailsContentRowLeft">
                <h3 class="taskDetailsText">Assignee</h3>
              </div>
              <div class="taskDetailsContentRowRightAssignee">
                <div class="rigthRow">
                  <div class="content">
                    <span>None</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="taskDetailsContentRowLabels">
            <div class="taskDetailsContentRow">
              <div class="taskDetailsContentRowLeft">
                <span class="taskDetailsText">Assignee</span>
              </div>
              <div class="taskDetailsContentROwRight">
                <div class="rigthRow">
                  <div class="content">
                    <span>None</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="taskDetailsContentRow">
              <div class="taskDetailsContentRowLeft">
                <h3 class="taskDetailsText">Assignee</h3>
              </div>
              <div class="taskDetailsContentRowRightAssignee">
                <div class="rigthRow">
                  <div class="content">
                    <span>None</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="taskDetailsContentRowLabels">
            <div class="taskDetailsContentRow">
              <div class="taskDetailsContentRowLeft">
                <span class="taskDetailsText">Assignee</span>
              </div>
              <div class="taskDetailsContentROwRight">
                <div class="rigthRow">
                  <div class="content">
                    <span>None</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="taskActivity">
      <div class="mb-5" style="border-bottom: 1px solid #cccccc;">
        <span class="taskDetailsText">Recent Activity</span>
      </div>
      <div class="taskActivityOptions">
        <div class="box cursorHand">
          <span class="ml-2 mr-2 taskDetailsText">All</span>
        </div>
        <div class="box cursorHand">
          <span class="taskDetailsText">Comments</span>
        </div>
        <div class="box cursorHand">
          <span class="taskDetailsText">History</span>
        </div>
      </div>
      <div class="taskActivitySection">
        <div class="taskActivitySectionData displayFlex">
          <div class="taskActivityContent mr-6 mt-5">
            <img [src]="'https://alorecdn.blob.core.windows.net/imagefrommediaupload/1552196674082img_avatar.png'"/>
          </div>
          <div class="taskActivityDescription displayBlock hoverBlue">
            <div class="userName mb-5 hoverblue">
              <span class="mainDarkBlack">Avinash ghchgchgx hgxhgxhgxhgxhgx hgxhxhgxh gxjghgxhgxhgx hxhgxhgxgxh gxhgxhgx hgxhgx</span>
            </div>
          </div>
        </div>
        <div class="taskActivitySectionData displayFlex">
          <div class="taskActivityContent mr-6 mt-5">
            <img [src]="'https://alorecdn.blob.core.windows.net/imagefrommediaupload/1552196674082img_avatar.png'"/>
          </div>
          <div class="taskActivityDescription displayBlock hoverBlue">
            <div class="userName mb-5 hoverblue">
              <span class="mainDarkBlack">Avinash ghchgchgx hgxhgxhgxhgxhgx hgxhxhgxh gxjghgxhgxhgx hxhgxhgxgxh gxhgxhgx hgxhgx</span>
            </div>
          </div>
        </div>
        <div class="taskActivitySectionData displayFlex">
          <div class="taskActivityContent mr-6 mt-5">
            <img [src]="'https://alorecdn.blob.core.windows.net/imagefrommediaupload/1552196674082img_avatar.png'"/>
          </div>
          <div class="taskActivityDescription displayBlock hoverBlue">
            <div class="userName mb-5 hoverblue">
              <span class="mainDarkBlack">Avinash ghchgchgx hgxhgxhgxhgxhgx hgxhxhgxh gxjghgxhgxhgx hxhgxhgxgxh gxhgxhgx hgxhgx</span>
            </div>
          </div>
        </div>
        <div class="taskActivitySectionData displayFlex">
          <div class="taskActivityContent mr-6 mt-5">
            <img [src]="'https://alorecdn.blob.core.windows.net/imagefrommediaupload/1552196674082img_avatar.png'"/>
          </div>
          <div class="taskActivityDescription displayBlock hoverBlue">
            <div class="userName mb-5 hoverblue">
              <span class="mainDarkBlack">Avinash ghchgchgx hgxhgxhgxhgxhgx hgxhxhgxh gxjghgxhgxhgx hxhgxhgxgxh gxhgxhgx hgxhgx</span>
            </div>
          </div>
        </div>
        <div class="taskActivitySectionData displayFlex">
          <div class="taskActivityContent mr-6 mt-5">
            <img [src]="'https://alorecdn.blob.core.windows.net/imagefrommediaupload/1552196674082img_avatar.png'"/>
          </div>
          <div class="taskActivityDescription displayBlock hoverBlue">
            <div class="userName mb-5 hoverblue">
              <span class="mainDarkBlack">Avinash ghchgchgx hgxhgxhgxhgxhgx hgxhxhgxh gxjghgxhgxhgx hxhgxhgxgxh gxhgxhgx hgxhgx</span>
            </div>
          </div>
        </div>
        <div class="taskActivitySectionData displayFlex">
          <div class="taskActivityContent mr-6 mt-5">
            <img [src]="'https://alorecdn.blob.core.windows.net/imagefrommediaupload/1552196674082img_avatar.png'"/>
          </div>
          <div class="taskActivityDescription displayBlock hoverBlue">
            <div class="userName mb-5 hoverblue">
              <span class="mainDarkBlack">Avinash ghchgchgx hgxhgxhgxhgxhgx hgxhxhgxh gxjghgxhgxhgx hxhgxhgxgxh gxhgxhgx hgxhgx</span>
            </div>
          </div>
        </div>
        <div class="taskActivitySectionData displayFlex">
          <div class="taskActivityContent mr-6 mt-5">
            <img [src]="'https://alorecdn.blob.core.windows.net/imagefrommediaupload/1552196674082img_avatar.png'"/>
          </div>
          <div class="taskActivityDescription displayBlock hoverBlue">
            <div class="userName mb-5 hoverblue">
              <span class="mainDarkBlack">Avinash ghchgchgx hgxhgxhgxhgxhgx hgxhxhgxh gxjghgxhgxhgx hxhgxhgxgxh gxhgxhgx hgxhgx</span>
            </div>
          </div>
        </div>
        <div class="taskActivitySectionData displayFlex">
          <div class="taskActivityContent mr-6 mt-5">
            <img [src]="'https://alorecdn.blob.core.windows.net/imagefrommediaupload/1552196674082img_avatar.png'"/>
          </div>
          <div class="taskActivityDescription displayBlock hoverBlue">
            <div class="userName mb-5 hoverblue">
              <span class="mainDarkBlack">Avinash ghchgchgx hgxhgxhgxhgxhgx hgxhxhgxh gxjghgxhgxhgx hxhgxhgxgxh gxhgxhgx hgxhgx</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="sliderMenuFooter">
    <span>History</span>
  </div> -->
</div>
