
.leftSection {
  width: 232px;
  margin-top: 3px;
  margin-left: 8px;
  background: #FFFFFF;
  height: calc(100vh - 64px);
  border: 1px solid rgba(24,24,24,.2);
  box-sizing: border-box;
  border-radius: 3px;
}

.addTeam {
  position: absolute;
  bottom: 38px;
  width: 211px;
  padding: 10px 10px 10px 10px;
  border-top: 1px solid rgba(24,24,24,.2);
}

.addMember {
  position: absolute;
  bottom: -2px;
  width: 211px;
  padding: 10px 10px 10px 10px;
  border-top: 1px solid rgba(24,24,24,.2);
}


.rightSection {
  height: calc(100vh - 64px);
  margin-top: 3px;
  background: #FFFFFF;
  border: 1px solid rgba(24,24,24,.2);
  box-sizing: border-box;
  border-radius: 3px;
}

.rightSectionWidthCollapsed {
  width: calc(100vw - 306px);
}
.rightSectionWidthExpanded {
  width: calc(100vw - 512px);
}

.teamsSection {
  height: auto;
  padding: 10px 10px 10px 10px;
  max-height: 300px;
  border-bottom: 1px solid rgba(24,24,24,.2);
}

.directSection {
  height: auto;
  max-height: 300px;
  overflow: auto;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid rgba(24,24,24,.2);
}

.chatHeaderSection {
  height: 26px;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid rgba(24,24,24,.2);
}

.chatFooterSection {
  padding: 10px 10px 10px 10px;
}

.chatContentSection {
  height: calc(100vh - 179px);
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid rgba(24,24,24,.2);
}

.transform {
  transform: rotate(90deg);
}

.chat-main .rightSection .chatFooterSection input {
  border-radius: 6px;
  border: 0.5px solid #CCCCCC;
  width: -webkit-fill-available;
}

.message {
  padding: 5px 5px 5px 5px ;
}

.message:hover {
  background: rgba(51, 75, 250, 0.2);
  color: #334BFA !important
}

.messageHeader {
  width: calc(100vw - 402px);
}

.messageBody {
  margin-left: 35px;
  height: auto;
}
