<div class="chat-main displayFlex">
  <div class="leftSection">
    <div class="teamsSection">
      <div class="displayFlex">
      <!--  <span class="caret" [ngClass]="{'caret-down': rotate}" (click)="rotate = !rotate"></span>-->
        <i class="cursorPointer" [inlineSVG]="'assets/icons/team.svg'"></i>
        <span style="width: 170px; margin-top: 4px;">Teams</span>
        <i class="cursorPointer" [ngClass]="{'transform': !rotate}" (click)="rotate = !rotate" [inlineSVG]="'assets/icons/down.svg'"></i>
      </div>
      <div *ngIf="rotate" class=" ml-17" style="overflow: auto; height: 250px;">
        <div class="displayFlex mb-4" style="height: 26px;">
          <i class="cursorPointer" [inlineSVG]="'assets/icons/user_he.svg'"></i>
          <span style="width: 138px" class="mt-2 ml-6">Teams</span>
          <i class="cursorPointer" [inlineSVG]="'assets/icons/more.svg'"></i>
        </div>
        <div class="displayFlex mb-4" style="height: 26px;">
          <i class="cursorPointer" [inlineSVG]="'assets/icons/user_he.svg'"></i>
          <span style="width: 138px" class="mt-2 ml-6">Teams</span>
          <i class="cursorPointer" [inlineSVG]="'assets/icons/more.svg'"></i>
        </div>
        <div class="displayFlex mb-4" style="height: 26px;">
          <i class="cursorPointer" [inlineSVG]="'assets/icons/user_he.svg'"></i>
          <span style="width: 138px" class="mt-2 ml-6">Teams</span>
          <i class="cursorPointer" [inlineSVG]="'assets/icons/more.svg'"></i>
        </div>
        <div class="displayFlex mb-4" style="height: 26px;">
          <i class="cursorPointer" [inlineSVG]="'assets/icons/user_he.svg'"></i>
          <span style="width: 138px" class="mt-2 ml-6">Teams</span>
          <i class="cursorPointer" [inlineSVG]="'assets/icons/more.svg'"></i>
        </div>
        <div class="displayFlex mb-4" style="height: 26px;">
          <i class="cursorPointer" [inlineSVG]="'assets/icons/user_he.svg'"></i>
          <span style="width: 138px" class="mt-2 ml-6">Teams</span>
          <i class="cursorPointer" [inlineSVG]="'assets/icons/more.svg'"></i>
        </div>
        <div class="displayFlex mb-4" style="height: 26px;">
          <i class="cursorPointer" [inlineSVG]="'assets/icons/user_he.svg'"></i>
          <span style="width: 138px" class="mt-2 ml-6">Teams</span>
          <i class="cursorPointer" [inlineSVG]="'assets/icons/more.svg'"></i>
        </div>
      </div>
    </div>
    <div class="directSection">
      <div class="displayFlex">
        <!--  <span class="caret" [ngClass]="{'caret-down': rotate}" (click)="rotate = !rotate"></span>-->
        <i class="cursorPointer mt-3 mr-4 ml-4" [inlineSVG]="'assets/icons/direct_message.svg'"></i>
        <span style="width: 170px; margin-top: 4px;">Direct Messages</span>
        <i class="cursorPointer" [ngClass]="{'transform': !directShow}" (click)="directShow = !directShow" [inlineSVG]="'assets/icons/down.svg'"></i>
      </div>
      <div *ngIf="directShow" class=" ml-17" style="overflow: auto; height: 250px;">
        <div class="displayFlex mb-4" style="height: 26px;">
          <i class="cursorPointer" [inlineSVG]="'assets/icons/user_he.svg'"></i>
          <span style="width: 138px" class="mt-2 ml-6">Teams</span>
          <i class="cursorPointer" [inlineSVG]="'assets/icons/more.svg'"></i>
        </div>
        <div class="displayFlex mb-4" style="height: 26px;">
          <i class="cursorPointer" [inlineSVG]="'assets/icons/user_he.svg'"></i>
          <span style="width: 138px" class="mt-2 ml-6">Teams</span>
          <i class="cursorPointer" [inlineSVG]="'assets/icons/more.svg'"></i>
        </div>
        <div class="displayFlex mb-4" style="height: 26px;">
          <i class="cursorPointer" [inlineSVG]="'assets/icons/user_he.svg'"></i>
          <span style="width: 138px" class="mt-2 ml-6">Teams</span>
          <i class="cursorPointer" [inlineSVG]="'assets/icons/more.svg'"></i>
        </div>
        <div class="displayFlex mb-4" style="height: 26px;">
          <i class="cursorPointer" [inlineSVG]="'assets/icons/user_he.svg'"></i>
          <span style="width: 138px" class="mt-2 ml-6">Teams</span>
          <i class="cursorPointer" [inlineSVG]="'assets/icons/more.svg'"></i>
        </div>
        <div class="displayFlex mb-4" style="height: 26px;">
          <i class="cursorPointer" [inlineSVG]="'assets/icons/user_he.svg'"></i>
          <span style="width: 138px" class="mt-2 ml-6">Teams</span>
          <i class="cursorPointer" [inlineSVG]="'assets/icons/more.svg'"></i>
        </div>
        <div class="displayFlex mb-4" style="height: 26px;">
          <i class="cursorPointer" [inlineSVG]="'assets/icons/user_he.svg'"></i>
          <span style="width: 138px" class="mt-2 ml-6">Teams</span>
          <i class="cursorPointer" [inlineSVG]="'assets/icons/more.svg'"></i>
        </div>
      </div>
    </div>
    <div class="addTeam">
      <div class="displayFlex">
        <!--  <span class="caret" [ngClass]="{'caret-down': rotate}" (click)="rotate = !rotate"></span>-->
        <span style="width: 195px; margin-top: 4px;">Create Team</span>
        <i class="cursorPointer mt-5" [inlineSVG]="'assets/icons/plus.svg'"></i>
      </div>
    </div>
    <div class="addMember">
      <div class="displayFlex">
        <!--  <span class="caret" [ngClass]="{'caret-down': rotate}" (click)="rotate = !rotate"></span>-->
        <span style="width: 195px; margin-top: 4px;">Add new Connection</span>
        <i class="cursorPointer mt-5" [inlineSVG]="'assets/icons/plus.svg'"></i>
      </div>
    </div>
  </div>
  <div class="rightSection ml-10 displayBlock" [ngClass]="{'rightSectionWidthCollapsed': appService.collapsed, 'rightSectionWidthExpanded': appService.expanded}">
    <div class="chatHeaderSection">
      <div class="displayFlex">
        <i class="cursorPointer" [inlineSVG]="'assets/icons/user_she.svg'"></i>
        <div class="ml-5">
          <span class="mr-11" style="font-size: 24px">Avinash</span>
          <span style="font-size: 11px">Last active 2 hours ago</span>
        </div>
        <button (click)="test()">Login</button>
        <button (click)="call()">CAll</button>
      </div>
      <div class="floatRight mt--29">
        <div class="displayFlex">
          <input placeholder="Search">
          <i style="height: 24px; width: 24px; right: 43px" class="positionAbsolute" [inlineSVG]="'assets/icons/search.svg'"></i>
          <i class="ml-5 cursorPointer" [inlineSVG]="'assets/icons/info.svg'"></i>
        </div>
      </div>
    </div>
    <div class="chatContentSection">
      <div>
        <div class="message displayGrid">
          <div style="margin-bottom: 20px">
            <div class="displayFlex">
              <i class="ml-5 cursorPointer" [inlineSVG]="'assets/icons/user_he.svg'"></i>
              <div class="messageHeader">
                <span style="margin-left: 7px; margin-right: 5px;">Avnash Kumar</span>
                <span>19:20</span>
              </div>
              <i class="ml-5 cursorPointer" [inlineSVG]="'assets/icons/more1.svg'"></i>
            </div>
            <div class="messageBody">
              aklnckjancjk
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="chatFooterSection">
      <div class="displayFlex">
        <input type="textarea" placeholder="Type your message">
        <i style="width: 24px; height: 24px;" class="ml-5 mt-2 cursorPointer" [inlineSVG]="'assets/icons/emoji1.svg'"></i>
        <i class="ml-5 mt-4 cursorPointer" [inlineSVG]="'assets/icons/attachment.svg'"></i>
      </div>
    </div>
  </div>
</div>
