<div *ngIf="appService.loginOrSignup">
  <router-outlet></router-outlet>
</div>

<div *ngIf="!appService.loginOrSignup" class="positionAbsolute">
  <app-nav-bar></app-nav-bar>
  <app-side-bar></app-side-bar>
  <div [ngClass]="{'main-section-collapsed': appService.collapsed, 'main-section-expanded': appService.expanded}">
    <router-outlet></router-outlet>
  </div>
</div>
