.leftSection {
  width: 232px;
  margin-top: 3px;
  margin-left: 8px;
  background: #FFFFFF;
  height: calc(100vh - 64px);
  border: 1px solid rgba(24,24,24,.2);
  box-sizing: border-box;
  border-radius: 3px;
}

.rightSection {
  height: calc(100vh - 64px);
  margin-top: 3px;
  background: #FFFFFF;
  border: 1px solid rgba(24,24,24,.2);
  box-sizing: border-box;
  border-radius: 3px;
}

.rightSectionWidthCollapsed {
  width: calc(100vw - 306px);
}
.rightSectionWidthExpanded {
  width: calc(100vw - 512px);
}

.commonSection {
  padding: 10px 10px 0px 10px;
  border-bottom: 1px solid rgba(24,24,24,.2);
}

.commonSubSection {
  height: auto;
  padding: 10px 10px 0px 10px;
  max-height: 300px;
  min-height: 100px;
}

.sharedSection {
  overflow: auto;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid rgba(24,24,24,.2);
}

.sharedSubSection {
  height: auto;
  padding: 10px 10px 0px 10px;
  max-height: 300px;
  min-height: 100px;
}

.applyBorderTop {
  border-top: 1px solid rgba(24,24,24,.2);
}

.createDoc {
  position: absolute;
  bottom: -2px;
  width: 211px;
  padding: 6px 10px 10px 10px;
  border-top: 1px solid rgba(24,24,24,.2);
}

.documentHeaderSection {
  height: 28px;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid rgba(24,24,24,.2);
}

.transform {
  transform: rotate(90deg);
}
