<div class="docs-main displayFlex">
  <div class="leftSection">
    <div *ngIf="favorites.length == 0" class="commonSection">
      <div class="displayFlex">
        <img style="width: 18px; height: 24px; margin-right: 5px" [src]="'assets/icons/common.svg'">
        <span style="width: 170px; margin-top: 4px;">Shared</span>
        <i class="cursorPointer" [ngClass]="{'transform': !showFavoriteSection}" (click)="showFavoriteSection = !showFavoriteSection" [inlineSVG]="'assets/icons/down.svg'"></i>
      </div>
    </div>
    <div *ngIf="showFavoriteSection" class="commonSubSection">
      Avinash
    </div>
    <div class="sharedSection" [ngClass]="{'applyBorderTop' : showFavoriteSection}">
      <div class="displayFlex">
        <img style="width: 18px; height: 24px; margin-right: 5px" [src]="'assets/icons/private.svg'">
        <span style="width: 170px; margin-top: 4px;">Private</span>
        <i class="cursorPointer" [ngClass]="{'transform': !showTeamsSection}" (click)="showTeamsSection = !showTeamsSection" [inlineSVG]="'assets/icons/down.svg'"></i>
      </div>
    </div>
    <div *ngIf="showTeamsSection" class="sharedSubSection">
      Avinash
    </div>
    <div class="createDoc">
      <div class="displayFlex">
        <span style="width: 195px; margin-top: 4px;">Create new document</span>
        <i class="cursorPointer mt-5" [inlineSVG]="'assets/icons/plus.svg'"></i>
      </div>
    </div>
  </div>
  <div class="rightSection ml-10 displayBlock" [ngClass]="{'rightSectionWidthCollapsed': appService.collapsed, 'rightSectionWidthExpanded': appService.expanded}">
    <div class="documentHeaderSection">
      <div class="displayFlex">
        <img class="mr-5" style="height: 30px; width: 30px;" [src]="'assets/icons/user_she.svg'" alt="">
        <div class="ml-5 displayGrid">
          <span class="mr-11" style="font-size: 24px">Avinash</span>
        </div>
      </div>
      <div class="floatRight mt--26">
        <div class="displayFlex activeUserHeaderWrapper">
          <div class="ml-10">
            <img [src]="'assets/icons/more.svg'">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
