.sidebar-min {
  margin-top: 53px;
  position: fixed;
  width: 50px;
  background: #FFFFFF;
  border: 1px solid #e6e7eb;
  box-sizing: border-box;
  /*box-shadow: -4px 0 15px #ccc;*/
  z-index: 9999999;
  height: 100%;
  border-top: 0px;
}

.sidebar-max {
  margin-top: 53px;
  position: fixed;
  width: 250px;
  background: #FFFFFF;
  border: 1px solid #e6e7eb;
  box-sizing: border-box;
  /*box-shadow: -4px 0 15px #ccc;*/
  z-index: 9999999;
  height: 100%;
  border-top: 0px;
}

.expanded-list {
  width: 232px;
  margin: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.main .documentRightSideBar .expanded-list span {
  margin-left: 10px;
  margin-top: 3px;
}

.sidebarIcon {
  margin-bottom: 12px;
  margin-top: 12px;
}
.selected {
  box-shadow: 7px -1px 0px -2px rgba(28,8,227,0.73) inset;
  -webkit-box-shadow: 7px -1px 0px -2px rgba(28,8,227,0.73) inset;
  -moz-box-shadow: 7px -1px 0px -2px rgba(28,8,227,0.73) inset;
}
