<div class="main" [ngClass]="{'sidebar-min': appService.collapsed, 'sidebar-max': appService.expanded}">
  <div *ngIf="appService.collapsed" class="documentRightSideBar">
    <div class="positionAbsolute">
      <div class="sidebarIcon" [ngClass]="{'selected': appService.selectedSection === 1}">
        <a [href]="'/home'">
          <i class="cursorPointer ml-13" [inlineSVG]="'assets/icons/home.svg'"></i>
        </a>
      </div>
      <div class="sidebarIcon" [ngClass]="{'selected': appService.selectedSection === 2}">
        <a [href]="'/task'">
          <i class="cursorPointer ml-13" [inlineSVG]="'assets/icons/task.svg'"></i>
        </a>
      </div>
      <div class="sidebarIcon" [ngClass]="{'selected': appService.selectedSection === 3}" style="height: 24px; width: 24px;">
        <a [href]="'/timeline'">
          <i  class="cursorPointer ml-13" [inlineSVG]="'assets/icons/chart.svg'"></i>
        </a>
      </div>
      <div class="sidebarIcon" [ngClass]="{'selected': appService.selectedSection === 4}">
        <a [href]="'/chat'">
          <i class="cursorPointer ml-13" [inlineSVG]="'assets/icons/chat.svg'"></i>
        </a>
      </div>
      <div class="sidebarIcon" [ngClass]="{'selected': appService.selectedSection === 5}">
        <a [href]="'/calendar'">
          <i class="cursorPointer ml-13" [inlineSVG]="'assets/icons/calendar.svg'"></i>
        </a>
      </div>
      <div class="sidebarIcon" [ngClass]="{'selected': appService.selectedSection === 6}" style="height: 24px; width: 24px">
        <a [href]="'/docs'">
          <i class="cursorPointer ml-13" [inlineSVG]="'assets/icons/documents.svg'"></i>
        </a>
      </div>
      <div class="sidebarIcon" [ngClass]="{'selected': appService.selectedSection === 7}">
        <a [href]="'/settings'">
          <i class="cursorPointer ml-13" [inlineSVG]="'assets/icons/settings.svg'"></i>
        </a>
      </div>
    </div>
    <div class="positionAbsolute" style="bottom: 64px;" [ngClass]="{'selected': appService.selectedSection === 8}">
      <a [href]="'/support'">
        <i class="cursorPointer ml-13" [inlineSVG]="'assets/icons/support.svg'"></i>
      </a>
    </div>
  </div>
  <div *ngIf="appService.expanded" class="documentRightSideBar">
    <div class="positionAbsolute">
      <div class="expanded-list displayFlex textAlignCenter">
        <i class="cursorPointer" [inlineSVG]="'assets/icons/home.svg'"></i>
        <span>home</span>
      </div>
      <div class="expanded-list displayFlex textAlignCenter">
        <i class="cursorPointer" [inlineSVG]="'assets/icons/account.svg'"></i>
        <span>home</span>
      </div>
    </div>
    <div class="positionAbsolute" style="bottom: 61px">
      <div class="expanded-list displayFlex textAlignCenter">
        <i class="cursorPointer" [inlineSVG]="'assets/icons/support.svg'"></i>
        <span>home</span>
      </div>
    </div>
  </div>
</div>
