/*SF UI Display Font Family Starts*/

@font-face {
  font-family: "SFUIText-Light";
  src: url(/assets/fonts/SF-UI-Display/sf-ui-display-light-58646b33e0551.otf) format("truetype");
  font-style: normal
}

@font-face {
  font-family: "SFUIText-Regular";
  src: url(/assets/fonts/SF-UI-Display/SFUIText-Regular.otf) format("truetype");
  font-style: normal
}

@font-face {
  font-family: "SFUIText-Medium";
  src: url(/assets/fonts/SF-UI-Display/SFUIText-Medium.otf) format("truetype");
  font-style: normal
}

@font-face {
  font-family: "SFUIText-Semibold";
  src: url(/assets/fonts/SF-UI-Display/SFUIText-Semibold.ttf) format("truetype");
  font-style: normal
}

@font-face {
  font-family: "SFUIText-Bold";
  src: url(/assets/fonts/SF-UI-Display/SFUIText-Bold.ttf) format("truetype");
  font-style: normal
}

/*SF UI Display Font Family Ends*/


/*Inter Font Family Starts*/
@font-face {
  font-family: "Inter-Light";
  src: url(/assets/fonts/Inter/Inter-Light-slnt.ttf) format("truetype");
  font-style: normal
}

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter/Inter-Regular-slnt.ttf) format("truetype");
  font-style: normal
}

@font-face {
  font-family: "Inter-Medium";
  src: url(/assets/fonts/Inter/Inter-Medium-slnt.ttf) format("truetype");
  font-style: normal
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url(/assets/fonts/Inter/Inter-SemiBold-slnt.ttf) format("truetype");
  font-style: normal
}

@font-face {
  font-family: "Inter-Bold";
  src: url(/assets/fonts/Inter/Inter-Bold-slnt.ttf) format("truetype");
  font-style: normal
}

/*Inter Font Family Ends*/


/*RobotoSlab Font Family Starts*/

@font-face {
  font-family: "Roboto-Slab";
  src: url(/assets/fonts/Roboto-Slab/RobotoSlab-Regular.ttf) format("truetype");
  font-style: normal
}

/*RobotoSlab Font Family Ends*/


/*Roboto-Mono Font Family Starts*/

@font-face {
  font-family: "Roboto-Mono";
  src: url(/assets/fonts/Roboto-Mono/RobotoMono-Regular.ttf) format("truetype");
  font-style: normal
}

/*Roboto-Mono Font Family Ends*/

body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}

::-webkit-scrollbar {
  width: 16px;
  height: auto;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 15px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.mainBlue {
  color: #334BFA
}

.hoverBlue:hover {
  color: #334BFA
}

.mainGray {
  color: #888888
}

.hoverGray:hover {
  color: #888888
}

.mainLightGray {
  color: #CCCCCC
}

.hoverLightGray:hover {
  color: #CCCCCC
}

.mainMediumGray {
  color: rgba(24, 24, 24, 0.7)
}

.lightGrayColor {
  color: rgba(24, 24, 24, 0.5);
}

.lightGrayColor:hover {
  color: rgba(24, 24, 24, 0.5);
}

.mainBlack {
  color: #3C3C3C
}

.mainDarkBlack {
  color: #181818
}

.mainDarkBlack70 {
  color: rgba(60, 60, 60, 0.7);;
}

.mainWhite {
  color: #FFFFFF
}

.darkBlack {
  color: #000000;
}

:hover.onHoverBlue {
  color: #334BFA;
}

.hoverBlack:hover {
  color: #3C3C3C
}

.lightGray {
  color: #848484
}

.lightGray:hover {
  color: #848484
}

.mainGreen {
  color: #18F093
}

.mainGreen:hover {
  color: #18F093
}

.rgbaGray {
  color: rgba(24, 24, 24, 0.5)
}

.rgbaGray:hover {
  color: rgba(24, 24, 24, 0.5)
}

.textAlignCenter {
  text-align: center
}

.textAlignLeft {
  text-align: left
}

.textAlignRight {
  text-align: right
}

.floatLeft {
  float: left
}

.floatRight {
  float: right
}

.displayFlex {
  display: flex
}

.displayBlock {
  display: block
}

.displayNone {
  display: none
}

.displayContent {
  display: contents;
}

.displayInlineFlex {
  display: inline-flex
}

.displayGrid {
  display: grid
}

.wrapFlex {
  flex-wrap: wrap
}

.positionRelative {
  position: relative
}

.positionAbsolute {
  position: absolute
}

.positionSticky {
  position: sticky
}

.positionFixed {
  position: fixed
}

.borderNone {
  border: none
}

.borderLeftNone {
  border-left: none
}

.borderRightNone {
  border-right: none
}

.borderTopNone {
  border-top: none
}

.borderBottomNone {
  border-bottom: none
}

.borderTransparent {
  border: 1px solid transparent
}

.borderGray {
  border: 1px solid #888888
}

.borderLightGray {
  border: 1px solid #CCCCCC
}

.borderBlue {
  border: 1px solid #334BFA
}

.borderTopTransparent {
  border-top: 1px solid transparent
}

.borderBottomTransparent {
  border-bottom: 1px solid transparent
}

.borderLeftTransparent {
  border-left: 1px solid transparent
}

.borderRightTransparent {
  border-right: 1px solid transparent
}

.borderTopGray {
  border-top: 1px solid #888888
}

.borderBottomGray {
  border-bottom: 1px solid #888888
}

.borderLeftGray {
  border-left: 1px solid #888888
}

.borderRightGray {
  border-right: 1px solid #888888
}

.borderTopBlue {
  border-top: 1px solid #334BFA
}

.borderBottomBlue {
  border-bottom: 1px solid #334BFA
}

.borderLeftBlue {
  border-left: 1px solid #334BFA
}

.borderRightBlue {
  border-right: 1px solid #334BFA
}

.borderTopLightGray {
  border-top: 1px solid #CCCCCC
}

.borderBottomLightGray {
  border-bottom: 1px solid #CCCCCC
}

.borderLeftLightGray {
  border-left: 1px solid #CCCCCC
}

.borderRightLightGray {
  border-right: 1px solid #CCCCCC
}

.borderTopLightBlue {
  border-top: 1px solid #CCCCCC
}

.borderBottomLightBlue {
  border-bottom: 1px solid #CCCCCC
}

.borderLeftLightBlue {
  border-left: 1px solid #CCCCCC
}

.borderRightLightBlue {
  border-right: 1px solid #CCCCCC
}

.borderRadius {
  border-radius: 5px
}

.borderTopLeftRadius {
  border-top-left-radius: 5px
}

.borderTopRightRadius {
  border-top-right-radius: 5px
}

.borderBottomLeftRadius {
  border-top-left-radius: 5px
}

.borderBottomRightRadius {
  border-bottom-right-radius: 5px
}

.cursorPointer {
  cursor: pointer
}

.cursorText {
  cursor: text
}

.cursorContext {
  cursor: context-menu
}

.cursorNodrop {
  cursor: no-drop
}

.cursorNotallowed {
  cursor: not-allowed
}

.cursorGrab {
  cursor: grab
}

.cursorHand {
  cursor: hand;
  cursor: pointer
}

.cursorGrabbing {
  cursor: grabbing
}

.cursorAuto {
  cursor: auto;
}

.pointerEventNone {
  pointer-events: none;
}

.upperCase {
  text-transform: uppercase
}

.lowerCase {
  text-transform: lowercase
}

.Capitalize {
  text-transform: capitalize
}

.firstLatterUpperCase:first-letter {
  text-transform: uppercase
}

.whiteBackground {
  background: #FFFFFF
}

.main-section-collapsed {
  margin-left: 50px;
  margin-top: 50px;
  /*padding: 1px 10px 10px 10px;*/
}

.main-section-expanded {
  margin-left: 250px;
  margin-top: 50px;
  /*padding: 1px 10px 10px 10px;*/
}

/* bg colors from a to z */
.bgColor_a {
  background-color: #1875F0;
}

.bgColor_b {
  background-color: #cc5251;
}

.bgColor_c {
  background-color: #4e2931;
}

.bgColor_d {
  background-color: #81adda;
}

.bgColor_e {
  background-color: #15b2d1;
}

.bgColor_f {
  background-color: #236e95;
}

.bgColor_g {
  background-color: #1d5171;
}

.bgColor_h {
  background-color: #aaf6ff;
}

.bgColor_i {
  background-color: #77d6ff;
}

.bgColor_j {
  background-color: #00a97b;
}

.bgColor_k {
  background-color: #ffde38;
}

.bgColor_l {
  background-color: #ff6f56;
}

.bgColor_m {
  background-color: #0b62bb;
}

.bgColor_n {
  background-color: #40e0cf;
}

.bgColor_o {
  background-color: #afeeee;
}

.bgColor_p {
  background-color: #f4c3cf;
}

.bgColor_q {
  background-color: #03d5bd;
}

.bgColor_r {
  background-color: #cac300;
}

.bgColor_s {
  background-color: #00d1c2;
}

.bgColor_t {
  background-color: #ffc0a4;
}

.bgColor_u {
  background-color: #529aec;
}

.bgColor_v {
  background-color: #fe7279;
}

.bgColor_w {
  background-color: #00bda9;
}

.bgColor_x {
  background-color: #59c2cf;
}

.bgColor_y {
  background-color: #39b3ca;
}

.bgColor_z {
  background-color: #1e9eb9;
}

/* bg colors from a to z */

.common_text {
  box-sizing: border-box;
  font-size: 0.857143em;
  font-style: inherit;
  line-height: 1.33333;
  font-weight: 500;
  color: #6f7782;
  display: inline;
  letter-spacing: -0.01em;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
